<script context="module">
  export async function preload({ params }) {
    const response = await this.fetch(`/@@content/articles/${params.slug}`);
    const json = await response.json();
    if (!response.ok) {
      const message = json.error ? json.error.message : "Error loading article";
      return this.error(response.status, message);
    }
    return { article: json.result };
  }
</script>

<script>
  export let article;
</script>

<h1>{article.frontMatter.title}</h1>

{#if article.frontMatter.tags}
  <div class="tags m-4">
    tags:
    <ul>
      {#each article.frontMatter.tags as tag}
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      {/each}
    </ul>
  </div>
{/if}

{@html article.html}
