<script context="module">
  export async function preload() {
    const response = await this.fetch(`/@@content/articles/all`);
    const json = await response.json();
    if (!response.ok) {
      const message = json.error
        ? json.error.message
        : "Error loading articles";
      return this.error(response.status, message);
    }
    return { articles: json.result };
  }
</script>

<script>
  export let articles;
</script>

<h1>Articles</h1>

{#if articles}
  <ul>
    {#each articles as { slug, frontMatter: { title } } (slug)}
      <li>
        <a href={`/articles/${slug}`}>{title}</a>
      </li>
    {/each}
  </ul>
{/if}
